html 
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
}
header {
  border-radius: 10px;
  padding-inline:25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  color:rgba(255, 255, 255, 0.704);
  position:absolute;
  top:10%;
  left:50%;
  transform: translateX(-50%);
}
