h1 {
  color: green;
  background-color: lightcyan;
  border-radius: 10px;
  padding: 25px;
}
.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.life {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: lightblue 2px solid;
  height: 800px;
  width: 800px;
}
