html 
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
}
header {
  color:rgb(32, 32, 106);
  border-radius: 10px;
  padding-inline:25px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position:absolute;
  top:10%;
  left:50%;
  transform: translateX(-50%);
}
